.app {
  display: flex;
  min-height: 100vh; /* Ensure the app takes the full height of the viewport */
  background-color: #f4f4f4; /* Set background color to match the sidebar */
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Ensure content flows vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  background-color: rgba(0, 0, 255, 0.855); /* Background color */
}

.employee-list {
  width: 100%;
  max-width: 800px; /* Adjust maximum width as needed */
  margin-bottom: 20px; /* Add margin bottom to create space between elements */
}
